.loader-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--size-small);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--light-dark-background);
    border: 1px solid var(--light-dark-font-dimmed);
    padding: var(--size-normal);
    border-radius: var(--rounding-medium);
    box-shadow: var(--shadow-1);

    .message {
        opacity: .75;
        font-style: italic;
    }
}
