.loader-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--size-small);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .25);
    z-index: 100;

    .loader {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: fit-content;
        height: fit-content;
        padding: var(--size-big);
        gap: var(--size-normal);
        background-color: var(--light-dark-background);
        border-radius: var(--rounding-medium);
        border: 1px solid var(--light-dark-font-dimmed);
        box-shadow: var(--shadow-1);
    }

    .message {
        opacity: .75;
        font-style: italic;
    }
}
