.create-group-dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    outline: none;
    border-radius: var(--rounding-medium);
    box-shadow: var(--shadow-1);

    .wrapper {
        display: flex;
        flex-direction: column;
        gap: var(--size-normal);
        position: relative;
        padding: var(--size-big);
        min-width: 450px;

        .close {
            position: absolute;
            top: var(--size-small);
            right: var(--size-small);
            display: grid;
            place-items: center;
            border-radius: var(--rounding-total);
            border: 1px solid var(--light-dark-font-dimmed);
            padding: var(--size-tiny);
            cursor: pointer;

            span {
                font-size: var(--icon-size-small);
            }
        }

        .close:hover,
        .close:focus-visible {
            background-color: var(--light-dark-font-dimmed);
        }

        .text {
            display: flex;
            flex-direction: column;
            gap: var(--size-tiny);

            h2,
            p {
                color: var(--light-dark-font);
            }

            p {
                opacity: .75;
                font-style: italic;
            }
        }

        .create {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: var(--size-very-small);
            border-radius: 50px;
            padding: var(--size-tiny);
            border: 1px solid var(--light-dark-font-dimmed);
            background-color: var(--light-dark-background);
            transition: var(--transition-normal);
            cursor: pointer;
        }

        .create:hover,
        .create:focus-visible {
            background-color: var(--color-secondary);

            span {
                color: white;
            }
        }
    }
}
