.error {
    max-width: 1420px;
    width: 100%;
    border-left: 1px solid var(--light-dark-font-dimmed);
    border-right: 1px solid var(--light-dark-font-dimmed);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: var(--size-normal);
    align-items: center;
    font-family: var(--font-secondary);
    text-align: center;
    padding: var(--size-big);
    gap: var(--size-big);

    .oops {
        font-size: var(--font-size-giant);
        font-weight: var(--font-thickness-thin);
        display: flex;
        align-items: center;
        flex-direction: row-reverse;

        .icon {
            font-size: inherit;
        }
    }

    .container {
        display: flex;
        flex-direction: column;
        gap: var(--size-tiny);

        .title {
            font-size: var(--font-size-big);
            font-weight: var(--font-thickness-thin);
        }
    }

    .icon,
    .status>.code,
    .oops {
        background-image: var(--gradient-main-colors);
        color: transparent;
        background-clip: text;
    }

    .message,
    .status>.text {
        font-family: var(--font-secondary);
        opacity: .75;
    }

    .status,
    .trying-again {
        display: flex;
        flex-direction: column;

        .icon {
            font-size: var(--icon-size-giant);
            animation: spin 1s linear infinite;
        }

        .code {
            font-size: var(--font-size-very-big);
        }
    }

    .links {
        display: flex;
        flex-direction: column;
        gap: var(--size-normal);

        .title {
            font-size: 1.25rem;
            font-weight: var(--font-thickness-normal);
        }

        .links-container {
            display: flex;
            align-items: center;
            gap: var(--size-big);
            justify-content: space-between;

            .link {
                display: flex;
                flex-direction: column;
                gap: var(--size-tiny);

                .button {
                    cursor: pointer;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    text-decoration: none;
                    background-color: transparent;
                    border: none;
                    gap: var(--size-tiny);
                    padding: var(--size-tiny);
                    border: 1px solid var(--light-dark-font-dimmed);
                    border-radius: var(--rounding-total);
                    aspect-ratio: 1/1;
                    display: grid;
                    place-items: center;
                    transition: var(--transition-normal);

                    .icon {
                        font-size: var(--icon-size-normal);
                    }
                }

                .button:hover,
                .button:focus-visible {
                    background-color: var(--light-dark-font-dimmed-2);
                }

                .text {
                    font-size: var(--font-size-small);
                    font-weight: var(--font-thickness-normal);
                    font-family: var(--font-secondary);
                }

            }
        }
    }
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
