.register,
.login {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1600px;
    position: relative;

    .message {
        position: absolute;
        top: var(--size-normal);
        left: 50%;
        transform: translateX(-50%);
        border: 1px solid var(--color-warning);
        background-color: var(--color-warning-dimmed);
        padding: var(--size-small);
        border-radius: var(--rounding-medium);
    }

    .wrapper {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;

        .container {
            height: 80%;
            width: 90%;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: var(--rounding-big);
            box-shadow: var(--shadow-1);

            >* {
                height: 100%;
                flex: 1;
            }

            .deco {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;

                >* {
                    flex: 1;
                }

                .title-container {
                    padding: var(--size-normal);

                    .title {
                        font-size: 5rem;
                        font-family: var(--font-secondary);
                        font-weight: var(--font-thickness-thinnest);
                        width: 100%;
                        text-align: center;
                        background-image: linear-gradient(45deg, var(--color-main), var(--color-secondary));
                        color: transparent;
                        background-clip: text;
                        text-align: center;
                    }
                }

                .blob-container {
                    height: 50%;
                    width: 100%;
                    overflow: hidden;
                    position: relative;

                    .background,
                    .blob-wrapper {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        top: 0;
                        left: 0;
                    }

                    .background {
                        background-image: radial-gradient(circle at 50% 100%, transparent, var(--light-dark-background) 55%), url("/wiggle.png");
                        background-repeat: repeat;
                    }

                    .blob-wrapper {
                        width: 65%;
                        z-index: 1;
                        left: 50%;
                        top: 60%;
                        transform: translateX(-50%);
                    }
                }
            }

            .login {
                flex-direction: column-reverse;
            }

            .form-wrapper {
                display: flex;
                justify-content: center;
                align-items: center;

                .form {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    padding: var(--size-normal);
                    gap: var(--size-normal);
                    border-radius: var(--rounding-medium);
                    box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, .1);
                    margin-right: 3rem;

                    .title {
                        font-family: var(--font-secondary);
                        font-weight: var(--font-thickness-thin);
                    }

                    .title.login {
                        font-size: var(--font-size-normal);
                    }
                }
            }

            .submitting {
                flex: 1;
                display: flex;
                flex-direction: column;
                gap: var(--size-very-small);
                align-items: center;
                justify-content: center;

                .icon {
                    font-size: var(--icon-size-giant);
                    animation: spin 2s linear infinite;
                    background-image: var(--gradient-main-colors);
                    color: transparent;
                    background-clip: text;
                }

                .submiting-message {
                    font-size: var(--font-size-small);
                    opacity: .75;
                    font-style: italic;
                }
            }
        }
    }

    .layer {
        position: relative;
    }

    .layer::after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-image:
            linear-gradient(to right,
                var(--light-dark-background),
                transparent 10% 90%,
                var(--light-dark-background));
        ;
    }
}

.register {
    .wrapper {
        .container {
            .form-wrapper {
                .form {
                    display: grid;
                    grid-template-areas:
                        "title title"
                        "firstName lastName"
                        "username username"
                        "password confirmPassword"
                        "button button"
                    ;
                    grid-template-columns: 1fr 1fr;
                    grid-auto-rows: max-content;

                    .firstName,
                    .lastName,
                    .password,
                    .confirmPassword {
                        grid-column: span 1;
                    }

                    .username,
                    .title {
                        grid-column: 1/-1;
                    }

                    .button {
                        grid-column: 1/-1;
                    }
                }
            }
        }
    }
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
