.participant {
    display: grid;
    grid-template-areas:
        "ppf name name options"
        "ppf username username options"
    ;
    grid-template-columns: auto auto 1fr auto;
    gap: 0 var(--size-small);
    padding: calc(var(--size-tiny)* 2);
    border-radius: var(--rounding-medium);
    background-color: white;
    box-shadow: var(--shadow-1);
    border: 1px solid var(--light-dark-font-dimmed);

    .ppf-container {
        grid-area: ppf;
        position: relative;
        display: grid;
        place-items: center;

        .ppf {
            border-radius: var(--rounding-total);
            aspect-ratio: 1/1;
            width: 50px;
            height: 50px;
            place-self: center;
        }

        .icon {
            position: absolute;
            left: -.25rem;
            bottom: -.25rem;
            aspect-ratio: 1/1;
            font-size: 1.5rem;
            font-variation-settings: 'FILL' 1;
            background-image: linear-gradient(to top, var(--color-main), var(--color-secondary));
            background-clip: text;
            color: transparent;
        }
    }

    .name {
        grid-area: name;
        text-transform: capitalize;
        align-self: center;
        display: flex;
        align-items: center;
        gap: var(--size-tiny);

        .you,
        .role {
            font-weight: var(--font-thickness-thin);
            font-size: var(--font-size-small);
            opacity: .75;
        }

        .role {
            text-transform: lowercase;
        }
    }

    .username {
        grid-area: username;
        opacity: .5;
        font-style: italic;
        font-size: var(--font-size-small);
    }

    .options-wrapper {
        grid-area: options;
        place-self: center;

        .button {
            cursor: pointer;
            display: grid;
            place-items: center;
            border-radius: var(--rounding-total);
            border: 1px solid var(--light-dark-font-dimmed);
            background-color: var(--light-dark-background);
            padding: var(--size-tiny);

            span {
                font-size: var(--icon-size-default);
            }
        }

        .options-popover {
            margin-top: 4px;
            opacity: 1;
            transform: scale(1);
            position-area: center left;
            margin-right: 4px;
            bottom: anchor();
            transition:
                opacity 0.2s,
                transform 0.2s,
                display 0.2s allow-discrete;
            border: none;
            outline: none;
            background-color: transparent;

            .options {
                display: flex;
                flex-direction: column;
                border: 1px solid var(--light-dark-font-dimmed);
                background-color: var(--light-dark-background);
                border-radius: var(--rounding-medium);
                overflow: hidden;

                .option {
                    border: none;
                    outline: none;
                    padding: var(--size-very-small);
                    display: flex;
                    align-items: center;
                    gap: var(--size-small);
                    cursor: pointer;
                    transition: var(--transition-normal);
                    border-bottom: 1px solid var(--light-dark-font-dimmed);
                }

                .option:hover,
                .option:focus-visible,
                .option:focus-within {
                    background-color: var(--light-dark-font-dimmed-2);
                }
            }
        }

        @starting-style {
            .options-popover:popover-open {
                opacity: 0;
                transform: scale(.9);
            }
        }

        .options-popover:not(:popover-open) {
            opacity: 0;
            transform: scale(.9);
        }
    }
}
