.conversation {
    display: grid;
    grid-template-areas:
        "ppf date date"
        "ppf name name"
        "ppf message message"
    ;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr 1fr;
    padding: var(--size-very-small);
    gap: 0 var(--size-very-small);
    text-decoration: none;
    color: var(--light-dark-font);
    transition: var(--transition-normal);
    border: 1px solid transparent;
    border-bottom: 1px solid var(--light-dark-font-dimmed);

    .group-ppf-container {
        grid-area: ppf;
        position: relative;

        .group-icon {
            position: absolute;
            left: -.25rem;
            bottom: -.25rem;
            font-variation-settings: 'FILL' 1;
            font-size: var(--icon-size-default);
            padding: var(--size-tiny);
            border-radius: var(--rounding-total);
            background-image: linear-gradient(45deg, var(--color-secondary), var(--color-main));
            background-clip: text;
            color: transparent;
        }
    }

    .ppf,
    .group-ppf-container>.ppf {
        width: 60px;
        height: 60px;
        border: 1px solid var(--light-dark-font-dimmed);
        grid-area: ppf;
        border-radius: var(--rounding-total);
        aspect-ratio: 1/1;
        align-self: center;
        object-fit: cover;
    }

    .title,
    .name {
        grid-area: name;
        white-space: nowrap;
        text-transform: capitalize;
        font-size: var(--font-size-normal);
    }

    .last-message {
        grid-area: message;
        font-size: var(--font-size-normal);
        display: flex;
        align-items: center;
        gap: var(--size-tiny);

        .you {
            opacity: .75;
            font-style: italic;
        }
    }

    .date {
        grid-area: date;
        font-size: var(--font-size-small);
        opacity: .75;
        font-style: italic;
        align-self: center;
    }

    .date::first-letter {
        text-transform: capitalize;
    }
}

.conversation.group {
    grid-template-areas:
        "ppf date date"
        "ppf name name"
        "ppf message message"
    ;
}

.conversation:has(.loader) {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(60px + var(--size-very-small) * 2);

    .loader {
        animation: spin 500ms linear infinite;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.conversation:hover,
.conversation:focus-visible {
    background-color: var(--light-dark-font-dimmed-2);
}

.conversation.active {
    border: 1px solid var(--color-secondary);
    background-color: var(--color-secondary-dimmed);
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
