.form-button {
    width: 100%;
    display: grid;
    place-items: center;
    position: relative;

    .button,
    .glow {
        width: 100%;
        height: 100%;
        border-radius: 50px;
        padding: var(--size-normal);
    }

    .button {
        background-image: linear-gradient(45deg, var(--color-main), var(--color-secondary));
        border: none;
        outline: none;
        color: var(--light-dark-font-inverted);
        font-weight: var(--font-thickness-thick);
        cursor: pointer;
    }

    .button:hover+.glow,
    .button:focus-visible+.glow {
        opacity: 1;
        transition: all 300ms ease-in-out;
    }

    .glow {
        background-image: linear-gradient(45deg, var(--color-main), var(--color-secondary));
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        filter: blur(12px);
        z-index: -1;
        opacity: 0;
    }
}
