.participants-dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
    border-radius: var(--rounding-medium);
    border: none;
    outline: none;
    box-shadow: var(--shadow-1);

    .container {
        display: flex;
        flex-direction: column;
        gap: var(--size-normal);
        padding: calc(var(--size-normal) * 2);
        min-width: 500px;
        background-color: var(--light-dark-font-dimmed-2);

        .participant {
            display: grid;
            grid-template-areas:
                "ppf name name options"
                "ppf username username options"
            ;
            grid-template-columns: auto auto 1fr auto;
            gap: 0 var(--size-small);
            padding: calc(var(--size-tiny)* 2);
            border-radius: var(--rounding-medium);
            background-color: white;
            box-shadow: var(--shadow-1);

            .ppf-container {
                grid-area: ppf;
                position: relative;
                display: grid;
                place-items: center;

                .ppf {
                    border-radius: var(--rounding-total);
                    aspect-ratio: 1/1;
                    width: 50px;
                    height: 50px;
                    place-self: center;
                }

                .icon {
                    position: absolute;
                    left: -.5rem;
                    bottom: -.5rem;
                    aspect-ratio: 1/1;
                    font-size: var(--icon-size-normal);
                    font-variation-settings: 'FILL' 1;
                    color: var(--color-secondary);
                }
            }

            .name {
                grid-area: name;
                text-transform: capitalize;
                align-self: center;
            }

            .username {
                grid-area: username;
                opacity: .5;
                font-style: italic;
                font-size: var(--font-size-small);
            }

            .options {
                grid-area: options;
                border-radius: var(--rounding-total);
                aspect-ratio: 1/1;
                background-color: var(--light-dark-font-dimmed-2);
                width: fit-content;
                place-self: center;
                display: grid;
                place-items: center;
                border: none;
                outline: none;
                transition: var(--transition-normal);
                cursor: pointer;

                span {
                    padding: 0;
                }
            }

            .options:hover,
            .options:focus-visible {
                transform: scale(1.1);
            }
        }
    }

    .close-dialog {
        position: absolute;
        top: var(--size-small);
        right: var(--size-small);
        display: grid;
        place-items: center;
        border-radius: var(--rounding-total);
        aspect-ratio: 1/1;
        background-color: var(--light-dark-font-dimmed);
        border: none;
        outline: none;
        padding: var(--size-tiny);
        cursor: pointer;

        span {
            font-size: var(--font-size-normal);
        }
    }
}
