.participants-dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
    border-radius: var(--rounding-medium);
    border: none;
    outline: none;
    box-shadow: var(--shadow-1);

    .container {
        display: flex;
        flex-direction: column;
        gap: var(--size-normal);
        padding: calc(var(--size-normal) * 2);
        min-width: 500px;
        background-color: var(--light-dark-font-dimmed-2);

        .participant {
            display: grid;
            grid-template-areas:
                "ppf name name options"
                "ppf username username options"
            ;
            grid-template-columns: auto auto 1fr auto;
            gap: 0 var(--size-small);
            padding: calc(var(--size-tiny)* 2);
            border-radius: var(--rounding-medium);
            background-color: white;
            box-shadow: var(--shadow-1);

            .ppf-container {
                grid-area: ppf;
                position: relative;
                display: grid;
                place-items: center;

                .ppf {
                    border-radius: var(--rounding-total);
                    aspect-ratio: 1/1;
                    width: 50px;
                    height: 50px;
                    place-self: center;
                }

                .icon {
                    position: absolute;
                    left: -.5rem;
                    bottom: -.5rem;
                    aspect-ratio: 1/1;
                    font-size: var(--icon-size-normal);
                    font-variation-settings: 'FILL' 1;
                    color: var(--color-secondary);
                }
            }

            .name {
                grid-area: name;
                text-transform: capitalize;
                align-self: center;
            }

            .username {
                grid-area: username;
                opacity: .5;
                font-style: italic;
                font-size: var(--font-size-small);
            }

            .options {
                grid-area: options;
                border-radius: var(--rounding-total);
                aspect-ratio: 1/1;
                background-color: var(--light-dark-font-dimmed-2);
                width: fit-content;
                place-self: center;
                display: grid;
                place-items: center;
                border: none;
                outline: none;
                transition: var(--transition-normal);
                cursor: pointer;

                span {
                    padding: 0;
                }
            }

            .options:hover,
            .options:focus-visible {
                transform: scale(1.1);
            }
        }
    }

    .close-dialog {
        position: absolute;
        top: var(--size-small);
        right: var(--size-small);
        display: grid;
        place-items: center;
        border-radius: var(--rounding-total);
        aspect-ratio: 1/1;
        background-color: var(--light-dark-font-dimmed);
        border: none;
        outline: none;
        padding: var(--size-tiny);
        cursor: pointer;

        span {
            font-size: var(--font-size-normal);
        }
    }
}

.info-dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: var(--rounding-medium);
    border: none;
    outline: none;
    box-shadow: var(--shadow-1);
    color: var(--light-dark-font);

    .updating {
        padding: var(--size-big);
        gap: var(--size-normal);
        display: flex;
        flex-direction: column;
        align-items: center;

        .icon-container {
            padding: var(--size-normal);

            span {
                font-size: var(--icon-size-big);
                background-image: var(--gradient-main-colors);
                background-clip: text;
                color: transparent;
                animation: updating 750ms linear infinite;
            }
        }

        p {
            color: var(--light-dark-font);
            opacity: .75;
        }
    }

    .info-container {
        background-color: var(--light-dark-background);
        position: relative;
        display: flex;
        flex-direction: column;
        gap: var(--size-normal);
        padding: var(--size-normal);
        min-width: 500px;

        .success-update {
            border: 1px solid var(--color-success);
            display: flex;
            align-items: center;
            justify-content: center;
            gap: var(--size-very-small);
            padding: var(--size-very-small);
            border-radius: var(--rounding-medium);
            background-color: var(--color-success-dimmed);
            align-self: center;
            flex-direction: row-reverse;

            .icon {
                font-size: var(--icon-size-default);
            }
        }

        .edit {
            background-color: transparent;
            border: 1px solid var(--light-dark-font-dimmed);
            position: absolute;
            left: var(--size-small);
            top: var(--size-small);
            border-radius: var(--rounding-total);
            display: grid;
            place-items: center;
            padding: var(--size-tiny);
            cursor: pointer;
            transition: var(--transition-normal);

            span {
                font-size: var(--icon-size-default);
                color: var(--light-dark-font);
            }
        }

        .edit:hover,
        .edit:focus-visible {
            transform: scale(1.1);
            background-color: var(--light-dark-font-dimmed);
        }

        .close {
            position: absolute;
            top: var(--size-small);
            right: var(--size-small);
            border-radius: var(--rounding-total);
            display: grid;
            place-items: center;
            background-color: transparent;
            padding: var(--size-tiny);
            border: 1px solid var(--light-dark-font-dimmed);
            outline: none;
            transition: var(--transition-normal);
            cursor: pointer;

            span {
                color: var(--light-dark-font);
                font-size: var(--icon-size-default);
            }
        }

        .close:hover,
        .close:focus-visible {
            background-color: var(--light-dark-font-dimmed);
            transform: scale(1.1);
        }

        .close:active {
            transform: scale(.9);
        }

        .title,
        .description {
            align-self: center;
        }

        .group-ppf {
            padding: 3px;
            display: grid;
            place-items: center;
            width: fit-content;
            align-self: center;
            position: relative;

            .outer-wrapper {
                padding: inherit;
                display: inherit;
                place-items: inherit;
                border-radius: var(--rounding-total);
                background-image: linear-gradient(45deg, var(--color-main), var(--color-secondary));

                .inner-wrapper {
                    border-radius: inherit;
                    padding: 4px;
                    display: inherit;
                    place-items: inherit;
                    background-color: var(--light-dark-background);

                    .ppf {
                        border-radius: inherit;
                        aspect-ratio: 1/1;
                        object-fit: cover;
                        width: 75px;
                        height: 75px;
                    }
                }
            }
        }

        .field {
            display: flex;
            align-items: center;
            gap: var(--size-small);
            border-radius: 50px;
            padding: var(--size-very-small);
            border: 1px solid var(--light-dark-font-dimmed);

            .icon {
                color: var(--light-dark-font);
                font-size: var(--icon-size-default);
            }
        }

        .field.title,
        .field.description {
            padding: var(--size-tiny);
            display: flex;
            justify-content: space-between;
            align-items: center;
            align-self: stretch;

            p {
                opacity: .75;
            }
        }

        .separator {
            width: 100%;
            height: 1px;
            background-color: var(--light-dark-font-dimmed);
        }

        .edit-form {
            display: flex;
            flex-direction: column;
            gap: var(--size-tiny);

            h2 {
                font-size: var(--font-size-normal);
                color: var(--light-dark-font);
            }

            .buttons {
                display: flex;
                gap: var(--size-very-small);
                margin-top: var(--size-very-small);

                >* {
                    flex: 1;
                }

                .button {
                    padding: var(--size-small);
                    border-radius: 50px;
                    border: 1px solid var(--light-dark-font-dimmed);
                    background-color: transparent;
                    cursor: pointer;
                    transition: var(--transition-normal);
                }

                .button:hover,
                .button:focus-visible {
                    background-color: var(--color-secondary-dimmed);
                }
            }
        }

        .group-owner {
            border-radius: var(--rounding-medium);
            display: grid;
            grid-template-areas:
                "ppf name"
                "ppf username"
            ;
            grid-template-columns: auto 1fr;
            border: 1px solid var(--light-dark-font-dimmed);
            gap: 0 var(--size-tiny);
            padding: calc(var(--size-tiny) * 2);

            .owner-ppf {
                grid-area: ppf;
                border-radius: var(--rounding-total);
                width: 35px;
                height: 35px;
            }

            .name,
            .username {
                font-size: var(--font-size-small);
                height: fit-content;
            }

            .name {
                grid-area: name;
                text-transform: capitalize;
            }

            .username {
                grid-area: username;
            }
        }

    }
}

.group-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--light-dark-font-dimmed);
    padding: var(--size-small);

    .ppf-title-description {
        display: grid;
        grid-template-areas:
            "ppf title"
            "ppf description"
        ;
        align-items: center;
        gap: 0.15rem var(--size-very-small);
        background-color: transparent;
        border: none;
        outline: none;
        cursor: pointer;

        .ppf {
            width: 50px;
            height: 50px;
            aspect-ratio: 1/1;
            object-fit: cover;
            grid-area: ppf;
            align-self: center;
            border-radius: var(--rounding-total)
        }

        .title {
            text-align: start;
            font-weight: var(--font-thickness-thick);
            grid-area: title;
            font-size: var(--font-size-normal);
            align-self: end;

        }

        .description {
            align-self: flex-start;
            grid-area: description;
            font-style: italic;
            font-size: .78;
            opacity: .75;
        }
    }

    .participants {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: var(--size-tiny);
        cursor: pointer;
        border: 2px solid cyan;
        background-color: transparent;
        border: none;
        outline: none;

        .container {
            display: flex;
        }

        .ppf-mini {
            position: relative;
            width: 35px;
            height: 35px;
            aspect-ratio: 1/1;
            border-radius: var(--rounding-total);
            border: 2px solid var(--light-dark-background);
            transition: var(--transition-normal);
        }

        .participants-n {
            font-size: var(--font-size-small);
            opacity: .75;
        }
    }

    .participants:hover,
    .participants:focus-visible {
        .ppf-mini {
            box-shadow: 0px 0px 7px 3px var(--color-main-dimmed);
        }
    }
}

@keyframes updating {
    to {
        transform: rotate(360deg);
    }
}
