.home {
    padding: var(--size-big);
    max-width: 1240px;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--size-big);

    > * {
        width: 100%;
    }

    .title-section {
        width: 100%;

        .title {
            font-size: 5rem;
            font-family: var(--font-secondary);
            font-weight: var(--font-thickness-thinnest);
            text-align: center;
            background-image: linear-gradient(
                45deg,
                var(--color-main),
                var(--color-secondary)
            );
            background-clip: text;
            color: transparent;
        }
    }

    .blob-section {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        filter: blur(14px);
        scale: 1.2;
        animation: appear 2.5s ease-in-out forwards;

        > * {
            width: 100%;
            height: 100%;
            display: grid;
            place-items: center;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .background {
            background-image:
                radial-gradient(
                    circle at center,
                    transparent,
                    var(--light-dark-background) 40%
                ),
                url("/wiggle.png");
            z-index: 1;
        }

        .blob-wrapper {
            max-width: 400px;
            z-index: 2;

            > * {
                display: grid;
            }
        }

        .logo-wrapper {
            z-index: 3;
            mix-blend-mode: overlay;

            .logo {
                width: 100%;
                max-width: 200px;
                opacity: 0.5;
            }
        }
    }

    .bottom-text {
        max-width: 100%;

        .sub-title-section {
            font-size: var(--font-size-big);
            text-align: center;
            font-family: var(--font-secondary);
            font-weight: var(--font-thickness-thin);
        }
    }
}

@media screen and (max-width: 768px) {
    .home {
        .title-section {
            .title {
                font-size: 4rem;
            }
        }
        .blob-section {
            .blob-wrapper {
                max-width: 300px;
            }
            .logo-wrapper {
                .logo {
                    max-width: 130px;
                }
            }
        }

        .bottom-text {
            .sub-title-section {
                font-size: 1.5rem;
            }
        }
    }
}

@media screen and (max-width: 480px) {
    .home {
        padding: 0;
        .title-section {
            .title {
                font-size: 2.5rem;
            }
        }
        .blob-section {
            .blob-wrapper {
                max-width: 325px;
            }
            .logo-wrapper {
                .logo {
                    max-width: 150px;
                }
            }
        }

        .bottom-text {
            .sub-title-section {
                font-size: 1.25rem;
            }
        }
    }
}

@keyframes appear {
    to {
        scale: 1;
        filter: blur(0);
    }
}
