.groups {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
    max-width: 1420px;
    border-left: 1px solid var(--light-dark-font-dimmed);
    border-right: 1px solid var(--light-dark-font-dimmed);
    align-self: center;

    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: var(--size-very-small);
        border-bottom: 1px solid var(--light-dark-font-dimmed);

        .title {
            display: flex;
            align-items: center;
            gap: var(--size-very-small);

            .icon {
                font-size: var(--icon-size-big);
                background-image: var(--gradient-main-colors);
                background-clip: text;
                color: transparent;
            }
        }

        .buttons {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: var(--size-small);

            .button {
                display: grid;
                place-items: center;
                position: relative;
                cursor: pointer;
                border: 1px solid var(--light-dark-font-dimmed);
                background-color: var(--light-dark-background);
                border-radius: var(--rounding-total);
                padding: var(--size-very-small);
                text-decoration: none;
                transition: var(--transition-normal);

                .icon {
                    font-size: var(--icon-size-default);
                }

                .icon.pending {
                    animation: spin 1s linear infinite;
                }

                .text {
                    position: absolute;
                    white-space: nowrap;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%) scale(.25);
                    background-color: var(--light-dark-font);
                    color: white;
                    padding: var(--size-very-small);
                    border-radius: var(--rounding-small);
                    transition: var(--transition-normal);
                    z-index: 1;
                    opacity: 0;
                }
            }

            .button:hover,
            .button:focus-visible {
                .text {
                    transform: translate(-50%, 100%) scale(1);
                    opacity: 1;
                }
            }

            .button.active {
                background-color: var(--color-secondary-dimmed);
                border: 1px solid var(--color-secondary);
            }
        }
    }

    .groups-container {
        padding: var(--size-normal);
        display: flex;
        gap: var(--size-normal);
        flex: 1;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        grid-template-rows: max-content;
    }
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
