.groups {
    display: flex;
    flex-direction: column;
    gap: var(--size-normal);

    .create-group {
        display: flex;
        flex-direction: column;
        border: 2px solid blue;

        .form {
            display: flex;
            flex-direction: column;
            width: fit-content;
        }
    }

    .groups-container {
        padding: var(--size-normal);
        border: 2px solid hotpink;
        display: flex;
        gap: var(--size-normal);
        flex: 1;

        .group {
            border: 2px solid lime;
            max-width: 300px;
            padding: var(--size-normal);
            height: fit-content;
            gap: var(--size-normal);
            display: flex;
            flex-direction: column;

            .info {
                border: 2px solid cyan;
            }

            .creator {
                border: 2px solid black;
            }
        }
    }
}
