.info-dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: var(--rounding-medium);
    border: none;
    outline: none;
    box-shadow: var(--shadow-1);
    color: var(--light-dark-font);

    .info-container {
        background-color: var(--light-dark-background);
        position: relative;
        display: flex;
        flex-direction: column;
        gap: var(--size-normal);
        padding: var(--size-normal);
        width: clamp(425px, 500px, 530px);

        .title,
        .description::first-letter {
            text-transform: capitalize;
            text-align: center;
        }

        .success-update {
            border: 1px solid var(--color-success);
            display: flex;
            align-items: center;
            justify-content: center;
            gap: var(--size-very-small);
            padding: var(--size-very-small);
            border-radius: var(--rounding-medium);
            background-color: var(--color-success-dimmed);
            align-self: center;
            flex-direction: row-reverse;

            .icon {
                font-size: var(--icon-size-default);
            }
        }

        .edit {
            background-color: transparent;
            border: 1px solid var(--light-dark-font-dimmed);
            position: absolute;
            left: var(--size-small);
            top: var(--size-small);
            border-radius: var(--rounding-total);
            display: grid;
            place-items: center;
            padding: var(--size-tiny);
            cursor: pointer;
            transition: var(--transition-normal);

            span {
                font-size: var(--icon-size-default);
                color: var(--light-dark-font);
            }
        }

        .edit:hover,
        .edit:focus-visible {
            transform: scale(1.1);
            background-color: var(--light-dark-font-dimmed);
        }

        .close {
            position: absolute;
            top: var(--size-small);
            right: var(--size-small);
            border-radius: var(--rounding-total);
            display: grid;
            place-items: center;
            background-color: transparent;
            padding: var(--size-tiny);
            border: 1px solid var(--light-dark-font-dimmed);
            outline: none;
            transition: var(--transition-normal);
            cursor: pointer;

            span {
                color: var(--light-dark-font);
                font-size: var(--icon-size-default);
            }
        }

        .close:hover,
        .close:focus-visible {
            background-color: var(--light-dark-font-dimmed);
            transform: scale(1.1);
        }

        .close:active {
            transform: scale(.9);
        }

        .title,
        .description {
            align-self: center;
        }

        .group-ppf {
            padding: 3px;
            display: grid;
            place-items: center;
            width: fit-content;
            align-self: center;
            position: relative;

            .outer-wrapper {
                padding: inherit;
                display: inherit;
                place-items: inherit;
                border-radius: var(--rounding-total);
                background-image: linear-gradient(45deg, var(--color-main), var(--color-secondary));

                .inner-wrapper {
                    border-radius: inherit;
                    padding: 4px;
                    display: inherit;
                    place-items: inherit;
                    background-color: var(--light-dark-background);

                    .ppf {
                        border-radius: inherit;
                        aspect-ratio: 1/1;
                        object-fit: cover;
                        width: 75px;
                        height: 75px;
                    }
                }
            }
        }

        .field {
            display: flex;
            align-items: center;
            gap: var(--size-small);
            border-radius: 50px;
            padding: var(--size-very-small);
            border: 1px solid var(--light-dark-font-dimmed);

            .icon {
                color: var(--light-dark-font);
                font-size: var(--icon-size-default);
            }
        }

        .field.title,
        .field.description {
            padding: var(--size-tiny);
            display: flex;
            justify-content: space-between;
            align-items: center;
            align-self: stretch;

            p {
                opacity: .75;
            }
        }

        .separator {
            width: 100%;
            height: 1px;
            background-color: var(--light-dark-font-dimmed);
        }

        .edit-form {
            display: flex;
            flex-direction: column;
            gap: var(--size-tiny);

            h2 {
                font-size: var(--font-size-normal);
                color: var(--light-dark-font);
            }

            .buttons {
                display: flex;
                gap: var(--size-very-small);
                margin-top: var(--size-very-small);

                >* {
                    flex: 1;
                }

                .button {
                    padding: var(--size-small);
                    border-radius: 50px;
                    border: 1px solid var(--light-dark-font-dimmed);
                    background-color: transparent;
                    cursor: pointer;
                    transition: var(--transition-normal);
                }

                .button:hover,
                .button:focus-visible {
                    background-color: var(--color-secondary-dimmed);
                }

                .button:disabled {
                    background-color: var(--light-dark-font-dimmed);
                    cursor: not-allowed;
                }
            }
        }

        .group-owner {
            border-radius: var(--rounding-medium);
            display: grid;
            grid-template-areas:
                "ppf name"
                "ppf username"
            ;
            grid-template-columns: auto 1fr;
            border: 1px solid var(--light-dark-font-dimmed);
            gap: 0 var(--size-tiny);
            padding: calc(var(--size-tiny) * 2);
            text-decoration: none;
            color: var(--light-dark-font);

            .owner-ppf {
                grid-area: ppf;
                border-radius: var(--rounding-total);
                width: 35px;
                height: 35px;
            }

            .name,
            .username {
                font-size: var(--font-size-small);
                height: fit-content;
            }

            .name {
                grid-area: name;
                text-transform: capitalize;
            }

            .username {
                grid-area: username;
            }
        }
    }
}
