.input-errors {
    display: flex;
    flex-direction: column;
    gap: var(--size-very-small);
    padding: var(--size-very-small);
    background-color: var(--color-error-dimmed);
    border: 1px solid var(--color-error);
    align-items: center;

    .message {
        font-size: var(--font-size-normal);
    }

    .errors {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
