.friends {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
    max-width: 1420px;
    border-left: 1px solid var(--light-dark-font-dimmed);
    border-right: 1px solid var(--light-dark-font-dimmed);
    align-self: center;

    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: var(--size-very-small);
        border-bottom: 1px solid var(--light-dark-font-dimmed);

        .title {
            display: flex;
            align-items: center;
            gap: var(--size-very-small);

            .icon {
                font-size: var(--icon-size-big);
                background-image: var(--gradient-main-colors);
                background-clip: text;
                color: transparent;
            }
        }

        .search-form {
            display: grid;
            grid-template-areas:
                "label label"
                "input button"
            ;
            grid-template-columns: 1fr auto;
            gap: var(--size-tiny);

            >:not(.label) {
                border-radius: var(--rounding-small);
                padding: var(--size-very-small);
            }

            .label {
                grid-area: label;
                font-size: var(--font-size-small);
                opacity: .75;
            }

            .input {
                background-color: var(--light-dark-font-dimmed-2);
                grid-area: input;
                border: none;
                cursor: pointer;
            }

            .search-button {
                grid-area: button;
                align-self: flex-end;
                background-color: var(--color-secondary-dimmed);
                border: none;
                transition: var(--transition-normal);
                cursor: pointer;
            }

            .search-button:hover,
            .search-button:focus-visible {
                background-color: var(--color-secondary);
                color: white;
            }
        }
    }

    .no-friends {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: var(--size-normal);
        flex: 1;

        .icon {
            font-size: calc(var(--icon-size-giant) + 3rem);
            background-image: var(--gradient-main-colors);
            background-clip: text;
            color: transparent;
        }

        .text {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: var(--size-very-small);

            .paragraph {
                opacity: .75;

                .link {
                    color: var(--color-main);
                }
            }
        }
    }

    .container {
        flex: 1;
        display: flex;
        flex-direction: column;
        padding: var(--size-very-small);
        gap: var(--size-very-small);

        .friend {
            display: grid;
            grid-template-areas:
                "ppf name date buttons"
                "ppf username username buttons"
            ;
            align-content: center;
            grid-template-columns: auto auto 1fr auto;
            gap: 0 var(--size-very-small);
            padding: var(--size-tiny);
            align-items: flex-start;

            .ppf {
                grid-area: ppf;
                width: 50px;
                height: 50px;
                border-radius: var(--rounding-total);
                aspect-ratio: 1/1;
                object-fit: cover;
                object-position: center;
                border: 1px solid var(--light-dark-font-dimmed);
            }

            .name {
                grid-area: name;
                display: flex;
                align-items: center;
                gap: var(--size-tiny);
                text-transform: capitalize;
                font-size: var(--font-size-normal);
            }

            .friends-since {
                grid-area: date;
                opacity: .75;
                font-size: .85rem;
            }

            .username {
                grid-area: username;
                opacity: .75;
                font-style: italic;
            }

            .buttons {
                grid-area: buttons;
                display: flex;
                align-items: center;
                gap: inherit;

                button {
                    position: relative;
                    display: grid;
                    place-items: center;
                    border-radius: var(--rounding-total);
                    padding: var(--size-very-small);
                    border: 1px solid var(--light-dark-font-dimmed);
                    background-color: transparent;
                    cursor: pointer;

                    .icon {
                        font-size: var(--icon-size-default);
                    }

                    .text {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%) scale(.25);
                        opacity: 0;
                        white-space: nowrap;
                        background-color: var(--light-dark-font);
                        color: var(--light-dark-font-inverted);
                        border-radius: var(--rounding-small);
                        padding: var(--size-tiny) calc(var(--size-tiny) * 2);
                        transition: inherit;
                        transition: var(--transition-normal);
                    }
                }

                button:hover,
                button:focus-visible {
                    .text {
                        transform: translate(-50%, 125%) scale(1);
                        opacity: 1;
                    }
                }
            }
        }

        .separator {
            width: 100%;
            height: 1px;
            background-color: var(--light-dark-font-dimmed);
        }
    }
}
