.server-error {
    background-color: var(--color-error-dimmed);
    border: 1px solid var(--color-error);
    padding: var(--size-very-small);
    display: flex;
    align-items: center;
    justify-content: center;

    .icon {
        font-size: var(--icon-size-normal);
    }
}
