.server-error {
    background-color: var(--color-error-dimmed);
    border: 1px solid var(--color-error);
    padding: var(--size-small);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--size-very-small);
}
