.navbar {
    padding: var(--size-very-small);
    display: flex;
    justify-content: center;
    gap: var(--size-small);
    justify-content: space-between;
    border-bottom: 1px solid var(--light-dark-font-dimmed);
    flex-shrink: 0;

    .icon-container {
        display: flex;
        align-items: center;
        gap: 1.5rem;

        .image-container {
            display: flex;

            .image,
            .mask {
                width: 60px;
                height: 60px;
            }

            .image {
                opacity: 0;
                position: absolute;
                top: 0;
                left: 0;
            }

            .mask {
                mask-image: url("../../assets/images/icon.svg");
                background-image: var(--gradient-main-colors);
                mask-position: center;
                mask-size: 87%;
                mask-repeat: no-repeat;
            }
        }

        .title {
            font-family: var(--font-special);
            font-weight: var(--font-thickness-thin);
            background-image: var(--gradient-main-colors);
            padding: 2px;
            background-clip: text;
            color: transparent;
            text-align: center;
            margin-left: -12px;
        }
    }

    .links {
        display: flex;
        gap: var(--size-tiny);
        align-items: center;

        .loader {
            width: 2rem !important;
        }

        .link {
            border-radius: var(--rounding-small);
            display: flex;
            align-items: center;
            justify-content: center;
            padding: var(--size-tiny);
            text-decoration: none;
            padding: var(--size-very-small);
            transition: var(--transition-normal);

            .text {
                color: var(--light-dark-font);
                transition: inherit;
            }
        }

        .link:hover,
        .link:focus-visible {
            text-decoration: underline;
        }

        .link.active {
            position: relative;

            .text {
                font-weight: var(--font-thickness-thick);
                background-image: var(--gradient-main-colors);
                color: transparent;
                background-clip: text;
            }
        }

        .link.active::after {
            position: absolute;
            left: 50%;
            transform: translateY(-50%);
            bottom: -5px;
            content: "";
            width: 6px;
            height: 6px;
            background-image: var(--gradient-main-colors);
            border-radius: var(--rounding-total);
        }
    }

    .notifications-and-user {
        display: flex;
        align-items: center;
        gap: var(--size-very-small);
    }
}
