.navbar {
    padding: var(--size-small);
    display: flex;
    justify-content: center;
    gap: var(--size-small);

    .link {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
        color: var(--light-dark-font);

        .icon {
            font-size: var(--icon-size-normal);
        }
    }
}
