.navbar {
    padding: var(--size-very-small);
    display: flex;
    justify-content: center;
    gap: var(--size-small);
    justify-content: space-between;
    box-shadow: var(--shadow-1);

    .logo-container {
        display: flex;
        gap: var(--size-small);
        align-items: center;

        .logo {
            width: 60px;
        }

        .name {
            font-family: var(--font-special);
            font-weight: var(--font-thickness-thin);
        }
    }

    .links {
        display: flex;
        gap: var(--size-normal);
        align-items: center;

        .link {
            border: 1px solid transparent;
            border-radius: var(--rounding-small);
            display: flex;
            align-items: center;
            justify-content: center;
            padding: var(--size-tiny);
            position: relative;
            text-decoration: none;
            width: fit-content;
            height: fit-content;

            .icon {
                font-size: var(--icon-size-normal);
                color: var(--light-dark-font);
            }

            .text {
                padding: var(--size-very-small) calc(var(--size-very-small) * 2);
                border-radius: var(--rounding-small);
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                opacity: 0;
                background-color: var(--light-dark-background);
                color: var(--light-dark-font);
                border: 1px solid var(--light-dark-font-dimmed);
                transition: all 225ms ease-in-out;
            }
        }

        .link:hover,
        .link:focus-visible {
            border: 1px solid var(--color-main-dimmed);

            .text {
                opacity: 1;
                transform: translate(-50%, 85%);
            }
        }

        .link.active {
            border: 1px solid var(--light-dark-font);
        }

        .link.active:hover,
        .link.active:focus-visible {
            .text {
                border: 1px solid var(--light-dark-font);
            }
        }

    }

    .notifications-and-user {
        display: flex;
        align-items: center;
        gap: var(--size-very-small);
    }

    .about {
        background-color: var(--light-dark-background);
        position: absolute;
        top: 50%;
        right: 12px;
        transform: translateY(-50%);
        border: 1px solid var(--light-dark-font);
        border-radius: var(--rounding-medium);
        z-index: 100;
        padding: var(--size-very-small);
        display: grid;
        place-items: center;
        text-decoration: none;
    }
}
