.navbar {
    padding: var(--size-small);
    display: flex;
    justify-content: center;
    gap: var(--size-small);

    .link,
    .pending,
    .active {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
        color: var(--light-dark-font);
        padding: var(--size-tiny);

        .icon {
            font-size: var(--icon-size-normal);
        }
    }

    .active {
        border: 1px solid var(--color-main);
        background-color: var(--color-main-dimmed);
    }
}
