*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid red;
}

html,
body {
    font-family: var(--font-main);
}

html {
    min-height: 100vh;
    height: 100%;
}

body {
    height: 100%;
    background-color: var(--light-dark-background);
    color: var(--light-dark-font);
    display: flex;
    flex-direction: column;
    font-size: var(--font-size-normal);
}

#root {
    display: contents;
}

.material-symbols-rounded {
    font-variation-settings:
        'FILL' 0,
        'wght' 100,
        'GRAD' 0,
        'opsz' 24
}
