*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

html,
body,
#root {
    height: 100dvh;
    overflow: hidden;
    margin: 0;
}

html,
body {
    font-family: var(--font-main);
    font-size: var(--font-size-normal);
}

h1,
h2,
h3,
h4,
p,
span,
input,
button {
    color: var(--light-dark-font);
}

button {
    cursor: pointer;
}

html {
    /* min-height: 100vh; */
    /* height: 100%; */
}

body {
    /* height: 100%; */
    background-color: var(--light-dark-background);
    color: var(--light-dark-font);
    display: flex;
    flex-direction: column;
}

#root {
    display: contents;
}

.material-symbols-rounded {
    font-variation-settings:
        'FILL' 0,
        'wght' 100,
        'GRAD' 0,
        'opsz' 24
}
