@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    /* Fonts */
    --font-main: "Roboto", sans-serif;
    --font-secondary: "Montserrat", sans-serif;
    --font-special: "Dancing Script", cursive;

    /* Colors */
    --color-main: #9b5de5;
    --color-main-dimmed: #9b5de544;
    --color-secondary: #00bbf9;
    --color-secondary-dimmed: #00bbf944;
    --color-special: #fee440;
    --color-special-dimmed: #fee44044;
    --color-background-dark: #23272f;
    --color-background-light: #dee2e6;
    --color-font-light: #495057;
    --color-font-light-dimmed: #49505744;
    --color-font-light-dimmed-2: #49505711;
    --color-font-dark: #EEEEEEDD;
    --color-font-dark-dimmed: #EEEEEE44;
    --color-font-dark-dimmed-2: #EEEEEE11;
    --color-success: #06d6a0;
    --color-success-dimmed: #06d6a044;
    --color-error: #f71735;
    --color-error-dimmed: #f7173544;
    --color-warning: #ffd60a;
    --color-warning-dimmed: #ffd60a44;
    --light-dark-background: light-dark(var(--color-background-light), var(--color-background-dark));
    --light-dark-font: light-dark(var(--color-font-light), var(--color-font-dark));
    --light-dark-font-dimmed: light-dark(var(--color-font-light-dimmed), var(--color-font-dark-dimmed));
    --light-dark-font-dimmed-2: light-dark(var(--color-font-light-dimmed-2), var(--color-font-dark-dimmed-2));
    --light-dark-font-inverted: light-dark(var(--color-font-dark), var(--color-font-light));

    /* Spacing Sizes */
    --size-tiny: .25em;
    --size-very-small: .5em;
    --size-small: .75em;
    --size-normal: 1em;
    --size-big: 2.25em;
    --size-very-big: 4em;
    --size-giant: 6em;

    /* Font Sizes */
    --font-size-tiny: .5rem;
    --font-size-small: .75rem;
    --font-size-normal: 1rem;
    --font-size-big: 2rem;
    --font-size-very-big: 4rem;
    --font-size-giant: 7rem;

    /* Font Thickness */
    --font-thickness-thinnest: 100;
    --font-thickness-thin: 200;
    --font-thickness-normal: 400;
    --font-thickness-thick: 600;
    --font-thickness-thickest: 900;

    /* Icon Sizes */
    --icon-size-small: 1rem;
    --icon-size-default: 1.5rem;
    --icon-size-normal: 2rem;
    --icon-size-big: 3rem;
    --icon-size-giant: 6rem;

    /* Border Radius */
    --rounding-total: 50%;
    --rounding-small: 5px;
    --rounding-medium: 10px;
    --rounding-big: 15px;

    /* Transitions */
    --transition-normal: all 225ms ease-in-out;

    /* Shadows */
    --shadow-1: 0px 0px 7px 1px rgba(0, 0, 0, .1);
    --shadow-2: 0px 0px 3px 10px rgba(0, 0, 0, .1);

    /* Gradients */
    --gradient-main-colors: linear-gradient(45deg, var(--color-main), var(--color-secondary));
}
