.loader {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--size-very-small);

    .message {
        font-size: var(--font-size-normal);
    }
}
