.chats-sidebar {
    min-width: 350px;
    max-width: 375px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    border-right: 1px solid var(--light-dark-font-dimmed);

    .no-conversations {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        place-items: center;

        .icon {
            font-size: var(--icon-size-big);
            background-image: var(--gradient-main-colors);
            color: transparent;
            background-clip: text;
        }

        .text {
            font-style: italic;
        }
    }

    .separator {
        width: 100%;
        height: 1px;
        background-color: var(--light-dark-font-dimmed);
    }
}
