.header {
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--light-dark-font-dimmed);
    padding: var(--size-small);

    .title {
        font-size: var(--font-size-big);
        display: flex;
        align-items: center;
        gap: var(--size-very-small);

        .icon {
            font-size: var(--icon-size-big);
            background-image: var(--gradient-main-colors);
            background-clip: text;
            color: transparent;
        }
    }

    .form-container {
        display: flex;
        align-items: center;
        gap: var(--size-small);

        .users-n {
            opacity: .5;
            font-size: var(--font-size-small);
        }
    }
}
