.section {
    display: flex;
    flex-direction: column;

    .header {
        display: flex;
        align-items: center;
        gap: var(--size-small);
        padding: var(--size-small);
        border-bottom: 1px solid var(--light-dark-font-dimmed);

        .icon {
            font-size: var(--icon-size-big);
            background-image: var(--gradient-main-colors);
            background-clip: text;
            color: transparent;
        }

    }

    .content {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: var(--size-normal);
    }
}
