.app {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    .outlet-wrapper {
        flex: 1;
        min-height: 0;
        display: flex;
        justify-content: center;

        >* {
            height: 100%;
        }
    }
}
