.group-conversation,
.private-conversation {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;

    .group-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid var(--light-dark-font-dimmed);
        padding: var(--size-small);

        .participants {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: var(--size-tiny);
            cursor: pointer;

            .container {
                display: flex;
            }

            .ppf-mini {
                position: relative;
                width: 35px;
                height: 35px;
                aspect-ratio: 1/1;
                border-radius: var(--rounding-total);
                border: 2px solid var(--light-dark-background);
            }

            .participants-n {
                font-size: var(--font-size-small);
                opacity: .75;
            }
        }

        .ppf-title {
            display: flex;
            flex-direction: column;
            gap: var(--size-tiny);
            align-items: center;
            justify-content: center;

            .ppf {
                border-radius: var(--rounding-total);
                width: 50px;
                height: 50px;
                aspect-ratio: 1/1;
            }

            .title {
                font-size: var(--font-size-normal);
            }
        }

        .info-icon {
            font-size: var(--icon-size-normal);
        }
    }
}

.private-conversation {
    .user-b-info {
        border-bottom: 1px solid var(--light-dark-font-dimmed);

        .user {
            width: fit-content;
            display: grid;
            grid-template-areas:
                "ppf name"
                "ppf username"
            ;
            grid-template-columns: auto 1fr;
            align-items: center;
            gap: 0.15rem var(--size-very-small);
            background-color: transparent;
            border: none;
            outline: none;
            cursor: pointer;
            padding: var(--size-small);
            text-decoration: none;
            color: var(--light-dark-font);

            .profile-picture {
                width: 50px;
                height: 50px;
                aspect-ratio: 1/1;
                object-fit: cover;
                grid-area: ppf;
                align-self: center;
                border-radius: var(--rounding-total)
            }

            .name {
                text-align: start;
                font-weight: var(--font-thickness-thick);
                grid-area: name;
                font-size: var(--font-size-normal);
                align-self: end;
                text-transform: capitalize;
            }

            .username {
                align-self: flex-start;
                grid-area: username;
                font-style: italic;
                font-size: .78;
                opacity: .75;
            }
        }
    }
}
