.group-conversation {
    display: flex;
    flex-direction: column;
    gap: var(--size-very-small);
    flex: 1;

    .group-info {
        border: 2px solid cyan;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: var(--size-very-small);
        padding: var(--size-very-small);
        width: 100%;

        .container {
            display: flex;
            gap: var(--size-normal);
        }
    }
}

.current-conversation {
    flex: 4;
    border: 2px solid purple;
    display: flex;
    flex-direction: column;
    gap: var(--size-very-small);

    .user-b-info {
        height: 75px;
        border: 2px solid black;
        display: flex;
        align-items: center;
        gap: var(--size-very-small);
        padding: var(--size-very-small);

        .profile-picture {
            width: 75px;
            height: 75px;
        }
    }
}
