.group-conversation,
.private-conversation {
    display: flex;
    flex-direction: column;
    flex: 1;

    .group-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid var(--light-dark-font-dimmed);
        padding: var(--size-small);

        .participants {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: var(--size-tiny);
            cursor: pointer;

            .container {
                display: flex;
            }

            .ppf-mini {
                position: relative;
                width: 35px;
                height: 35px;
                aspect-ratio: 1/1;
                border-radius: var(--rounding-total);
                border: 2px solid var(--light-dark-background);
            }

            .participants-n {
                font-size: var(--font-size-small);
                opacity: .75;
            }
        }

        .ppf-title {
            display: flex;
            flex-direction: column;
            gap: var(--size-tiny);
            align-items: center;
            justify-content: center;

            .ppf {
                border-radius: var(--rounding-total);
                width: 50px;
                height: 50px;
                aspect-ratio: 1/1;
            }

            .title {
                font-size: var(--font-size-normal);
            }
        }

        .info-icon {
            font-size: var(--icon-size-normal);
        }
    }
}
