.user-info {
    grid-area: user-info;
    display: grid;
    grid-template-areas:
        "ppf name message-button friendship-button"
        "ppf username username username"
        "ppf date date date"
    ;
    grid-template-columns: max-content 1fr max-content max-content;
    grid-auto-rows: min-content;
    gap: 0 var(--size-very-small);

    .you {
        align-self: end;
        grid-area: friendship-button;
        font-style: italic;
        opacity: .85;
    }

    .name {
        grid-area: name;
        align-self: end;
        text-transform: capitalize;
    }

    .wrapper,
    .wrapper>.padding,
    .wrapper>.padding>.ppf {
        border-radius: var(--rounding-total);
        display: grid;
        place-items: center;
    }

    .wrapper {
        grid-area: ppf;
        width: fit-content;
        background-image: var(--gradient-main-colors);
        padding: 3px;

        .padding {
            border: 4px solid var(--light-dark-background);

            .ppf {
                aspect-ratio: 1/1;
                object-fit: cover;
                object-position: center;
                width: 125px;
                height: 125px;
            }
        }
    }

    .username,
    .date {
        opacity: .75;
        font-style: italic;
    }

    .date {
        grid-area: date;
        align-self: start;
    }

    .username {
        grid-area: username;
        align-self: center;
    }
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
