.image-visualizer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: purple;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background-color: transparent;

    .current-image {
        width: 90%;
        height: 90%;
        object-fit: cover;
        object-position: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .close-dialog {
        background-color: transparent;
        position: absolute;
        top: var(--size-very-small);
        right: var(--size-very-small);
        padding: var(--size-very-small);
        border: none;
        outline: none;
        cursor: pointer;
        transition: var(--transition-normal);

        span {
            font-size: var(--icon-size-big);
            color: white;
            font-weight: 900;
        }
    }

    .close-dialog:hover,
    .close-dialog:focus-visible {
        background-color: var(--light-dark-background);
    }
}

.image-visualizer::backdrop {
    background-color: rgba(0, 0, 0, .5);
}
