.user {
    display: flex;
    justify-content: space-between;
    gap: var(--size-small);

    .user-info {
        display: grid;
        grid-template-areas:
            "ppf name"
            "ppf username"
        ;
        color: var(--light-dark-font);
        text-decoration: none;
        gap: 0 var(--size-very-small);

        .ppf {
            border: 1px solid var(--light-dark-font-dimmed);
            grid-area: ppf;
            width: 50px;
            height: 50px;
            aspect-ratio: 1/1;
            object-fit: cover;
            object-position: center;
            border-radius: var(--rounding-total);
        }

        .name {
            grid-area: name;
            text-transform: capitalize;
            font-weight: var(--font-thickness-thick);
            align-self: flex-end;
        }

        .username {
            grid-area: username;
            align-self: flex-start;
            opacity: .75;
            font-style: italic;
            font-size: .9rem;
        }
    }

    .you {
        align-self: center;
        opacity: .75;
        font-style: italic;
    }

    .buttons {
        display: flex;
        align-items: center;
        gap: var(--size-normal);

        --padding: .3rem;

        .text {
            opacity: .75;
            font-size: var(--font-size-small);
        }

        button {
            border: 2px solid blue;
            background-color: transparent;
            border: 1px solid var(--light-dark-font-dimmed);
            padding: var(--padding);
            display: grid;
            place-items: center;
            border-radius: var(--rounding-total);
            outline: none;
            position: relative;
            cursor: pointer;
            transition: var(--transition-normal);

            span:not(.text) {
                font-size: var(--icon-size-default);
                opacity: .75;
            }

            .text {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%) scale(.25);
                white-space: nowrap;
                background-color: var(--light-dark-font);
                color: var(--light-dark-font-inverted);
                padding: var(--padding) calc(var(--padding) * 2);
                border-radius: var(--rounding-small);
                opacity: 0;
                transition: inherit;
            }
        }

        button:hover,
        button:focus-visible {
            .text {
                transform: translate(-50%, 80%) scale(1);
                opacity: 1;
            }
        }

        button:active {
            background-color: var(--light-dark-font-dimmed);
        }
    }

    .answer-friendship {
        display: flex;
        align-items: center;
        gap: var(--size-normal);

        .message {
            opacity: .75;
            font-size: var(--font-size-small);
        }
    }
}
