.users {
    flex: 1;
    width: 100%;
    max-width: 1420px;
    align-self: center;
    border-left: 1px solid var(--light-dark-font-dimmed);
    border-right: 1px solid var(--light-dark-font-dimmed);
    display: flex;
    flex-direction: column;

    .no-users,
    .users-loader,
    .container {
        flex: 1;
        display: flex;
        flex-direction: column;
    }

    .no-users,
    .users-loader {
        align-items: center;
        justify-content: center;
    }

    .users-loader {
        opacity: .75;
        gap: var(--size-normal);

        .loader {
            color: var(--light-dark-font);
        }

        .text {
            font-style: italic;
        }
    }

    .no-users {
        .icon {
            font-size: calc(var(--icon-size-giant) + 2rem);
            background-image: var(--gradient-main-colors);
            background-clip: text;
            color: transparent;
        }

        .text {
            opacity: .75;
            font-style: italic;
        }
    }
}
